@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lily+Script+One&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #161D2B;
  --primary-font: 'Poppins', sans-serif;
  --main-font-color: #CED6E3;
  --neo-shadow-a: -4px -4px 8px #192334, 4px 4px 8px #121821;
  --neo-shadow-b: inset 4px 4px 8px #192334, inset -4px -4px 8px #121821;
  --neo-shadow-ax: inset -4px -4px 8px #192334, inset 4px 4px 8px #121821;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-font-color);
}

body {
  background: var(--primary-color);
  font-family: var(--primary-font);
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-height: 100vh;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
  padding: 0 24px;
}

nav div {
  text-align: center;
}

nav div h2 {
  font-family: 'Lily Script One', cursive;
  font-style: italic;
  font-weight: 400;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
  padding: 8px 24px;
  border-radius: 32px 0 32px 0;
}

img[alt="profile"] {
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-b);
  border-radius: 50%;
  padding: 16px;
  width: 200px;
  margin-top: 24px;
}

nav div p {
  color: #4F6D9C;
}

nav ul li {
  list-style: none;
  width: 240px;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  margin-top: 16px;
}

nav ul li:first-child {
  margin-top: 24px;
}

nav ul li:hover {
  box-shadow: var(--neo-shadow-ax);
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #4F6D9C;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#home h1,
#biography h1,
#education h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 4vw;
  background: linear-gradient(-90deg, #4F9C69 0%, #4F6D9C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.more-btn {
  font-family: var(--primary-font);
  font-size: 16px;
  width: 240px;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
  border-radius: 20px;
  border: none;
  outline: none;
  margin-top: 16px;
}

.more-btn:hover {
  color: #4F6D9C;
  box-shadow: var(--neo-shadow-ax);
}

.summary {
  margin: 32px 0;
  width: 64.5%;
}

.summary h3 {
  color: #4F6D9C;
}

.summary p {
  text-align: justify;
}

#home ul {
  padding: 20px 15px;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
  width: fit-content;
  border-radius: 16px;
}

#home ul a {
  margin: 0 5px;
  padding: 8px 16px;
  font-size: 20px;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
  border-radius: 8px;
}

#home ul a:hover {
  box-shadow: var(--neo-shadow-ax);
}

section span {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-a);
}

.spn1 {
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 0 0 200px 0;
  -moz-border-radius: 0 0 200px 0;
  -webkit-border-radius: 0 0 200px 0;
}

.spn2 {
  top: 25%;
  right: 0;
  width: 60px;
  height: 120px;
  border-radius: 120px 0 0 120px;
}

.spn3 {
  top: -150px;
  right: 0;
  width: 150px;
  height: 300px;
  border-radius: 300px 0 0 300px;
}

.spn4 {
  top: 20%;
  left: 0;
  width: 100px;
  height: 200px;
  border-radius: 0 200px 200px 0;
}

img[alt="trees-1"] {
  position: absolute;
  bottom: 3%;
  left: 10%;
  width: 166px;
}

img[alt="trees-2"] {
  position: absolute;
  bottom: 4%;
  right: 15%;
  width: 133px;
}

#biography ul {
  display: flex;
}

#biography ul div li,
#education ul li {
  list-style: none;
}

#biography ul div:first-child li::after {
  width: 280px;
}

#biography ul div:last-child li::after {
  width: 480px;
}

#biography ul div:first-child li::after,
#biography ul div:last-child li::after,
#education ul li::after {
  display: block;
  height: 40px;
  background-color: var(--primary-color);
  box-shadow: var(--neo-shadow-ax);
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  margin: 8px 0 16px 0;
  color: #ced6e380;
}

#education ul li::after {
  display: inline-block;
  width: 440px;
}

#education ul li:last-child:after {
  height: 80px;
}

#biography ul div:first-child {
  margin-right: 32px;
}

#biography ul div:first-child li:first-child::after {
  content: "Rykhel Rafif Abdullah";
}

#biography ul div:first-child li:nth-child(2)::after {
  content: "Jakarta, 19th October 2001";
}

#biography ul div:first-child li:nth-child(3)::after {
  content: "+6285716156087";
}

#biography ul div:last-child li:first-child::after {
  content: "Masjid Street 3 No. 123, RT 03/03, Cipayung, East Jakarta";
}

#biography ul div:last-child li:nth-child(2)::after {
  content: "Hang out together";
}

#biography ul div:last-child li:nth-child(3)::after {
  content: "\"Yang salah dibenerin, bukan disalahin\"";
}

#education ul li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

#education ul li::after {
  margin: 0 0 0 32px;
}

#education ul li:first-child::after {
  content: "Madrasah Ibtidaiyah State 16 Cipayung";
}

#education ul li:nth-child(2)::after {
  content: "Junior High School State 222 Jakarta";
}

#education ul li:nth-child(3)::after {
  content: "Senior High School State 105 Jakarta";
}

#education ul li:last-child::after {
  content: "Jakarta State Polytechnic \a Diploma IV Road and Bridge Design Engineering";
  white-space: pre-wrap;
}

img[alt="sakura-1"] {
  position: absolute;
  top: 2%;
  left: -5%;
}

img[alt="sakura-2"] {
  position: absolute;
  bottom: 1%;
  right: -5%;
  transform: rotateY(180deg);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ced6e380;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ced6e3aa;
}